.text-header-black {
    font-weight: bold;
    font-size: 5rem;
    color: black;
}

.text-header-white {
    font-weight: bold;
    font-size: 5rem;
    color: white;
}


/* Style link "a" */
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* ----- HOME ----- */
.home-section {
    min-height: 100vh;
    background-image: url("../img/background-header.png");
    background-size: cover;
    background-position: center;
    
}

nav {
    background-color: rgba($color: white, $alpha: 0.0);
    z-index: 1; 
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;
    transition: all 0.5s ease-in;
    padding-top: 3vh;
}

.fixed {
    background-color: white;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

ul {
    margin-top: 2vh;
    text-align: end;
}

.logo {
    display: inline;
    background-image: url("../img/logo-header.png");
    background-repeat: no-repeat;
}

li {
    width: auto;
    text-align: center;
    margin-left: 40px;
    display: inline-block;
    font-weight: bold;
    font-size: 1rem;
    border-top: 3px solid rgba(255,255,255,0.0);
}

li:hover {
    border-top: 3px solid rgb(255,96,51);
    cursor: pointer;
}

header {
    padding-top: 40vh;
    position: relative;
}

.scroll {
    position: absolute;
    top: 90%;
    left: 50%;
}

.home-header-text {
    font-weight: bold;
    font-size: 4rem;
}

.button-get-free {
    height: 50px;
    background-color: rgb(255,96,51);
    border-radius: 0;
    color: white;
    transition: 0.3s;
}

.button-get-free:hover {
    background-color: rgb(250, 67, 16);
}

/* ----- About ----- */
.about {
    padding: 15vh 0 15vh 0;
    min-height: 100vh;
    background-color: rgb(0, 177, 177);
    color: white;
}

.img-responsive {
    height: auto;
    width: 100%;  
}

.about-us-content {
    margin-left: auto;
    margin-right: auto;
}

.about-us-text-header {
    font-size: 5rem;
    font-weight: bold;
    padding-top: 30vh;
}

/* ----- Services ----- */
.services {
    padding: 15vh 0 15vh 0;
    min-height: 100vh;
    background-color: rgb(112, 191, 255);

    .container-button {
        padding-top: 15vh;
        text-align: center;
    }

    .btn-row {
        margin-top: 1vw;
    }

    .btnx {
        background-color: white;
        font-weight: bold;
    }


    .btnline {
        padding: 0;
        text-align: left;
        background-color: white;
        position: relative;
    }

    .btn-text {
        padding-top: 13%;
    }
 
    .icon {
        position: absolute;
        left: 25%;
        top: 25%;
        width: auto;
        height: auto;
    }
    
    .tomatoes-div {
        position: relative;
    
        .tomatoes-inscription {
            position: absolute;
            color: white;
            top: 40%;
            left: 0;
            font-size: 4rem;
            font-weight: bold;
            letter-spacing: 2px;
        }
    }
}



/* ----- Gallery ----- */
.gallery {
    padding: 15vh 0 15vh 0;
    min-height: 100vh;
    background-color: rgb(255, 233, 47);
    color: black;
}

/* ----- Subscribe ----- */
.subscribe {
    padding: 15vh 0 15vh 0;
    min-height: 70vh;
    background-color: white;
    background-image: url("../img/subscribe-background.png");
    background-position: center;
    background-size: cover;
}

.subscribe-button {
    background-color: rgb(150, 185, 44);
    height: 50px;
    border: none;
    width: 100px;
}
/* ----- Blog ----- */
.blog {
    padding: 15vh 0 15vh 0;
    min-height: 100vh;
    background-color: rgb(176, 124, 2470);
    color: white;
    text-align: center;
}

.images-row {
    margin-top: 5vh;
}

.h1 {
    border-right: 1px solid black;
}

.blog-text-header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.button-blog-section {
    background-color: rgb(252, 55, 55);
    padding: 2vh 5vh 2vh 5vh;
    border: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 5vh;
    box-shadow: 2px 2px 5px black;
}

/* ----- Contact ----- */
.contact {
    padding: 15vh 0 15vh 0;
    min-height: 100vh;
    background-image: url("../img/background-footer.png");
    background-size: cover;
    background-position: center;
}

.bold {
    font-weight: bold;
}

.lol {
    width: 100%;
    padding: 0;
    margin: 0;
}

.contact-header-text {
    font-weight: bold;
    font-size: 5rem;
}

.footer-content {
    justify-content: center;
    text-align: center;
}

.text-contact-container {
    margin-left: auto;
    margin-right: auto;

}

/* Form */
.form-control {
    background-color: rgba(0,196,196,0.5);
    margin-top: 10px;
    color: white;
    max-width: 100%;
    border-radius: 0px;
    border: none;
    border-width: 0px;
}

.form-control:focus {
    background-color: rgba(0,196,196,1);
    border-left: 3px solid rgb(53, 91,130);
    color: white;
}

.form-control::placeholder {
    color: white;
}

.form-control:focus::placeholder {
    color: white;
    font-weight: bold;
}

.footer-container {
    background-color: rgb(38, 38, 38);
    color: white;
    padding: 2vh 0vh 2vh 0vh;
}

.footer-row {
    text-align: center;
}

.red {
    color: red;
}



