/* Style link "a" */
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
 
/* ----- HOME ----- */
.home {
    min-height: 100vh;
    background-image: url("../img/background-header.png");
    background-size: cover;
    background-position: center;
}

nav {
    background-color: rgba(255,255,255,0.5);
    position: fixed;
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-left: 0px;
    margin-right: 0px;
    z-index: 1; 
}


.logo {
    display: inline;
    background-image: url("../img/logo-header.png");
    background-repeat: no-repeat;
}

li {
    width: auto;
    text-align: center;
    margin-left: 40px;
    display: inline-block;
    font-weight: bold;
    font-size: 1rem;
    border-top: 3px solid rgba(255,255,255,0.0);
}

li:hover {
    border-top: 3px solid rgb(255,96,51);
    cursor: pointer;
}

header {
    padding-top: 40vh;
}

h1.home-header-text {
    font-weight: bold;
}

.button-get-free {
    height: 50px;
    background-color: rgb(255,96,51);
    border-radius: 0;
    color: white;
    transition: 0.3s;
}

.button-get-free:hover {
    background-color: rgb(250, 67, 16);
}


/* ----- About ----- */
.about {
    min-height: 100vh;
    background-color: rgb(0, 177, 177);
    padding-top: 20vh;
    padding-bottom: 20vh;
}

img.img-responsive {
    height: auto;
    width: 100%;  
    padding-top: 10%; 
}

.about-us-content {
    margin-left: auto;
    margin-right: auto;
}

/* ----- Services ----- */
.services {
    min-height: 100vh;
    background-color: rgb(112, 191, 255);
}

.btn {
    margin-top: 10px;
    width: 400px;
    border-radius: 0px;
}


h1.about-us {
    font-weight: bold;
    padding-top: 30vh;
}


/* ----- Gallery ----- */
.gallery {
    padding-top: 5vh;
    min-height: 100vh;
    background-color: rgb(255, 233, 47);
}

/* ----- Subscribe ----- */
.subscribe {
    padding-top: 20vh;
    padding-bottom: 20vh;
    min-height: 70vh;
    background-color: white;
    background-image: url("../img/subscribe-background.png");
    background-position: center;
    background-size: cover;
}

.subscribe-button {
    background-color: rgb(150, 185, 44);
    height: 50px;
    border: none;
    width: 100px;
}
/* ----- Blog ----- */
.blog {
    padding-top: 5vh;
    min-height: 100vh;
    background-color: rgb(176, 124, 2470);
}

.blog-text-header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.text-header {
    font-weight: bold;
}
/* ----- Contact ----- */
.contact {
    min-height: 100vh;
    background-image: url("../img/background-footer.png");
    background-size: cover;
    background-position: center;
    padding-top: 5vh;
}

.bold {
    font-weight: bold;
}

h1.footer-header-text {
    font-weight: bold;

}

.footer-content {
    padding-top: 50vh;
    justify-content: center;
    text-align: center;
}

.text-footer-container {
    margin-left: auto;
    margin-right: auto;
}

/* Form */
.form-control {
    background-color: rgba(0,196,196,0.5);
    margin-top: 10px;
    color: white;
    max-width: 100%;
    border-radius: 0px;
    border: none;
    border-width: 0px;
}

.form-control:focus {
    background-color: rgba(0,196,196,1);
    border-left: 3px solid rgb(53, 91,130);
    color: white;
}
.xxx {
    min-width: 80%;
}


.form-control::placeholder {
    color: white;
}

.form-control:focus::placeholder {
    color: white;
    font-weight: bold;
}

.images-row {
    margin-top: 20vh;
}

.footer-container {
    background-color: rgb(38, 38, 38);
    min-height: 10vh;
    color: white;
}

.asd {
    text-align: center;
    margin-top: 3vh;
}

.red {
    color: red;
}

